<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de administración</title>
    <link rel="stylesheet" href="../css/styles.css"/>
    <link rel="stylesheet" href="../css/turnos.css"/>  
</head>
<body>
    

 
		<div class="small-container">
		
			<div class="form-container">
			
				<div class="title" th:if="${session.usuariosession != null}" th:text="${'¡Hola, ' + session.usuariosession.name + '!'}"></div>

				<a th:href="@{/admin/panel_turnos}"><button class="btn2 coral">AGREGAR TURNOS</button></a>
				<a th:href="@{/admin/precios}"><button class="btn2 coral">PRECIOS</button></a>
				<a th:href="@{/admin/panel_empleados}"><button class="btn2 coral">EMPLEADOS</button></a>
				<a th:href="@{/admin/config}"><button class="btn2 coral">CONFIGURACIÓN</button></a>
				<a th:href="@{/}"><button class="btn2 green">Atrás</button></a>
		
			</div>
	    </div>

 

         

</body>
</html>