<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turnos</title>
    <link rel="stylesheet" href="../css/styles.css"/>
</head>
<body>
    

 <span th:classappend="${error} ? errorMsg : displayNone" th:text="${error}"></span>
 <span th:classappend="${logout} ? successMsg : displayNone" th:text="${logout}"></span>



    <div sec:authorize="!isAuthenticated()">
    
		<div class="small-container">
		
			<div class="form-container">
			
			
			<h1 th:if="${session.usuariosession != null}" th:text="${'¡Hola, ' + session.usuariosession.name + '!'}"></h1>

                       	
			</div>

		
		</div>
    </div>


</body>
</html>